.element {
    width: 100%;
    height: 50px;
    margin: 0 0 10px 0;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 900px) {
    .element {
        width: 120px;
        float: left;
        margin: 0 10px 0 0;
    }
}