* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border: 1px solid #CCC;
    width: 100%;
    height: 100px;
}

.header::after {
    content: '';
    clear: both;
}

.header .logo {
    border: 1px solid black;
    width: 200px;
    line-height: 20px;
    text-align: center;
    margin: 35px;
    float: left;
}

.header .menu {
    float: right;
    margin: 20px;
}

.header .menu .menu-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
}

.header .menu .menu-item:not(:last-child)::after {
    content: '|';
    margin-left: 5px;
}

.main {
    display: flex;
}

.main .aside {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    flex: 1 1 auto;
    height: 400px;
}

.lhm {
    margin: 20px;
}

.lhm .lhm-item {
    list-style-type: none;
    line-height: 20px;
}

.rhs .rhs-item {
    list-style-type: none;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.rhs .rhs-item:not(:last-child) {
    border-bottom: 1px solid #CCC;
}

.main .section {
    flex: 2 1 auto;
    height: 400px;
    max-width: 800px;
}

.main .section .form {
    margin: 20px;
}

.main .section .form .button {
    border: 1px solid #CCC;
    min-width: 50px;
    background-color: white;
    line-height: 25px;
}


.main .section .form .input {
    line-height: 30px;
}

.main .section .form .textarea {
    line-height: 50px;
}

.footer {
    width: 100%;
    height: 100px;
    border: 1px solid #CCC;
}

.svg-icon-inline {
    width: 100px;
    height: 100px;
}

.svg-icon-class {
    width: 100px;
    height: 100px;
    background-image: url(http://localhost:3000/exercise-7/atom.svg);
}

.svg-icon-use > svg {
    width: 100px;
    height: 100px;
}