.container div {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
}

.container::after {
    clear: left;
}

.container div {
    border: 1px solid black;
}

.container .element-2 {
    border: 1px solid blue;
}

.container #element-3 {
    border: 1px solid green;
}

.container div[element='element-4'] {
    border: 1px solid yellow;
}