.base-element {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 20px;
}

.transition-element {
    transition: width 6s, height 2s;
}

.transition-element:hover {
    width: 300px;
    height: 300px;
}

@keyframes animFromTo {
    from {background-color: black;}
    to {background-color: red;}
}

.animation-element-from-to:hover {
    animation-name: animFromTo;
    animation-duration: 4s;
}

@keyframes animStates {
    0% {background-color: black;}
    25% {background-color: green;}
    50% {background-color: blue;}
    100% {background-color: red;}
}

.animation-states:hover {
    animation-name: animStates;
    animation-duration: 4s;
}