.base-element {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 20px;
}

/* CSS CODE FOR TRANSITION ELEMENT*/

/* CSS CODE FOR ANIMATION FROM TO ELEMENT*/

/* CSS CODE FOR ANIMATION STATES ELEMENT*/