.element {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
}

.container::after {
    clear: left;
}

.container ~ .element {
    border: 1px solid black;
}

.container + .element {
    border: 1px solid black;
}

.container + .element + .element {
    border: 1px solid green;
}

.container > .element {
    border: 1px solid red;
}