.element {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
}

.container::after {
    clear: left;
}

/*YOUR CSS CODE HERE*/
