.color-element {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /*CSS CODE ON BORDERS / TEXT COLOR / BACKGROUND COLOR;*/
}

.background-image-element {
    width: 100%;
    height: 100px;
    /*CSS CODE BACKGROUND-IMAGE https://image.freepik.com/free-vector/abstract-blue-background_1048-1511.jpg */
}

.fixed-element {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    /*CSS CODE FOR FIXED STYLE*/
}

.main .section {
    /*CSS POSITION FOR MAIN SECTION*/
}

.absolute-element {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    /*CSS CODE FOR ABSOLUTE STYLE*/
}

.link-element {
    border: 1px solid black;
    width: 250px;
    line-height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

/*CODE FOR LINK ELEMENT STATES*/

/*CODE FOR PSEUDO ELEMENTS BEFORE AND AFTER*/

/*CODE FOR PSEUDO ELEMENTS FIRST LETTER AND FIRST LINE*/