.color-element {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(0,0,255);
    color: #FFFFFF;
}

.background-image-element {
    width: 100%;
    height: 100px;
    background-image: url(https://image.freepik.com/free-vector/abstract-blue-background_1048-1511.jpg);
}

.fixed-element {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    position: fixed;
    left: 30%;
    top: 20px;
}

.main .section {
    position: relative;
}

.absolute-element {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 0;
}

.link-element {
    border: 1px solid black;
    width: 250px;
    line-height: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.link-element:hover {
    background-color: blue;
    color: white;
}

.link-element:active {
    background-color: red;
}

.pseudo-element::before {
    content: 'BEFORE';
    text-align: center;
    border: 1px solid black;
}


.pseudo-element::after {
    content: 'AFTER';
    text-align: center;
    border: 1px solid black;
}


.pseudo-element-2::first-letter {
    font-size: 50px;
    color: black;
}

.pseudo-element-2::first-line {
    color: blue;
}