.base-element {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
    margin-right: 50px;
}

/*CSS FOR TRANSLATE ELEMENT*/

/*CSS FOR ROTATE ELEMENT*/

/*CSS FOR SCALE ELEMENT*/

/*CSS FOR SKEW ELEMENT*/