.base-element {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
    margin-right: 50px;
}

.translate-element {
    -ms-transform: translate(10px, 10px); /* IE 9 */
    -webkit-transform: translate(10px, 10px); /* Safari */
    transform: translate(10px, 10px);
}

.rotate-element {
    -ms-transform: rotate(160deg); /* IE 9 */
    -webkit-transform: rotate(160deg); /* Safari */
    transform: rotate(160deg);
}

.scale-element {
    -ms-transform: scale(.5, .5); /* IE 9 */
    -webkit-transform: scale(.5, .5); /* Safari */
    transform: scale(.5, .5);
}

.skew-element {
    -ms-transform: skew(20deg, 10deg); /* IE 9 */
    -webkit-transform: skew(20deg, 10deg); /* Safari */
    transform: skew(20deg, 10deg);
}

