.rounded-corners-element {
    border-radius: 25px;
    background-color: black;
    width: 100px;
    height: 100px;
}

.text-shadow-element {
    font-size: 40px;
    text-shadow: 5px 5px 10px gray;
}

@font-face {
  font-family: myFont;
  src: url(https://fonts.gstatic.com/s/marckscript/v7/O_D1NAZVOFOobLbVtW3bchampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}

.font-element {
    font-family: myFont;
    font-size: 30px;
}